@using System.Globalization;
@using Syncfusion.Server.Base.Helpers
@using System.Web;

@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var reportServerApiUrl = new ReportServerApiEndPoints(globalAppSettings).ReportServerApiUrl();
    var reportServerApiUrlForServerEmbed = new ReportServerApiEndPoints(globalAppSettings, true).ReportServerApiUrl();
    var language = CultureInfo.CurrentCulture.Name;
    var isUserAuthenticatedInCurrentTenant = ViewBag.IsUserAuthenticatedInCurrentTenant;
    var itemDetail = ViewBag.itemDetail as ItemDetail;
    var isUserAuthenticated = "false";
    var enableComment = "false";
    var enableViews = "false";
    var canEdit = itemDetail.CanWrite;
    var embedConfig = ViewBag.EmbedConfig as EmbedConfig;
    var isCommonCacheEnabled = ViewBag.IsCommonCacheEnabled;
    var filterQuery = ViewBag.FilterQuery;
    var userId = ViewBag.UserId;
    var enableExport = "true";
    var canSaveView = "true";
    var embedSignature = ViewBag.EmbedSignature;
    var requestUrl = new Uri(Context.Request.GetDisplayUrl());
    var isMobile = new DeviceDetection(Context).IsMobile;
    var emailAddress = Context.Session.GetString("emailaddress") != null ? Context.Session.GetString("emailaddress") : string.Empty;
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var isAdmin = Context.Session.GetString("IsAdmin") != null && Convert.ToBoolean(Context.Session.GetString("IsAdmin"));
    var reportServiceCdnLink = globalAppSettings.SystemSettings.ReportServiceCdnLink.TrimEnd('/');
    var canCreateComments = false;
    var canShowSession = ServerAppConfig.IsSelfHosted && (ViewBag.CanHideSessionInEmbed == null ? true : ViewBag.CanHideSessionInEmbed != true);
    var categoryName = HttpUtility.HtmlDecode(ViewBag.itemDetail.CategoryName);
    var itemName = HttpUtility.HtmlDecode(ViewBag.itemDetail.Name);
    var isHideIconBasedOnDnsName = GlobalAppSettings.IsUrlInDnsList(globalAppSettings.DisplayUri);
    var faviconFallbackPath = reportServerResourceUrl + "/cdn/images/application/" + ServerAppConfig.AppSettings.AppBranding.Identifier + "/" + IconFileNames.Favicon;
    var isHideReportViewerHeader = ServerAppConfig.IsHideReportViewerHeader;

    if (embedConfig.IsEmbedReport || embedConfig.IsEmbedCode)
    {
        canEdit = false;
    }
}
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />

    <link href="@reportServerResourceUrl/cdn/css/essentialjs/v2.0/tailwind-light/bold.report-viewer.min.css" rel="stylesheet" type="text/css" />
    <environment include="Development,CloudDevelopment">
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/jquery-dependencies.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/jquery-dependencies.js")" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/jquery-dependencies.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/jquery-dependencies.min.js")" crossorigin="anonymous"></script>
    </environment>
    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportviewer.min.js"></script>

    <script nonce="@Context.Items["ScriptNonce"]">
        @{
            var userName = "";
            if (Context.User.Identity.IsAuthenticated && Context.User != null && Context.User.Identity != null && isUserAuthenticatedInCurrentTenant || embedConfig.IsEmbedCode)
            {
                canCreateComments = true;
                enableComment = (!(embedConfig.HasReportComments)) ? "false" : "true";
                enableViews = (!(embedConfig.HasViews)) ? "false" : "true";
                isUserAuthenticated = embedConfig.IsEmbedCode ? "false" : "true";
                userName = embedConfig.IsEmbedCode ? embedConfig.UserInfo.Email.ToString() : emailAddress.ToLower();
                if (embedSignature)
                {
                    enableExport = (!(embedConfig.HasExport)) ? "false" : "true";
                    canSaveView = (!(embedConfig.CanSaveView)) ? "false" : "true";
                }
            }
            else
            {
                enableComment = "false";
                enableViews = "false";
                isUserAuthenticated = "false";
            }
        }

        var userId = "@userId";
        var userName = "@userName";
        var viewId = "@ViewBag.ViewId";
        var baseUrl = "@globalAppSettings.SystemSettings.BaseUrl";
        var viewerUrl = "@globalAppSettings.SystemSettings.ViewerUrl";
        var language = "@language";
        var isUserAuthenticated = "@isUserAuthenticated";
        var enableComment = '@enableComment';
        var enableExport = '@enableExport';
        var canSaveView = '@canSaveView';
        var isReportCommented = '@ViewBag.IsReportCommented';
        var canEdit = @Json.Serialize(canEdit);
        var categoryName = decodeHtmlAsString("@itemDetail.CategoryName");
        var itemName = decodeHtmlAsString("@itemDetail.Name");
        var editReportUrl = encodeURI("@Url.Action("ReportDesigner", "Designer")" + "/@itemDetail.Id/" + categoryName + "/" + itemName);
        var filterParameters = JSON.parse('@Json.Serialize(ViewBag.FilterParameters)');
        var itemViewShareIframeUrl = "@Url.Action("shareItemView", "items")";
        var commentPageUrl = "@Url.Action("CommentPartialView", "Comments")";
        var reportServerHomeUrl = "@Url.Action("Reports", "Reports")";
        var getViewParameterUrl = "@Url.Action("GetReportViewParameter", "ReportViews")";
        var sharePermissionDialogUrl = "@Url.Action("SharePermissionPartialView", "ReportViews")";
        var viewsPageUrl = "@Url.Action("ViewsPartialView", "ReportViews")";
        var addViewUrl = { "web": "@Url.Action("OnFilterSave", "ReportViews")", "api": "/items/views/add" };
        var deleteViewUrl = { "web": "@Url.Action("DeleteView", "ReportViews")", "api": "/items/views/delete" };
        var updateViewUrl = { "web": "@Url.Action("UpdateView", "ReportViews")", "api": "/items/views/edit" };
        var getSavedViewUrl = { "web": "@Url.Action("GetViews", "ReportViews")", "api": "/items/views/get-by-item-id" };
        var isSessionActiveUrl = "@Url.Action("IsSessionActive", "Accounts")";
        var reportServerApiUrl = "@reportServerApiUrl";
        var reportServerApiUrlForServerEmbed = "@reportServerApiUrlForServerEmbed";
        var filterQuery = "@filterQuery";
        var getLinkDialogViewUrl = "@Url.Action("GetLinkView", "items")";
        var pageurl = "@requestUrl.LocalPath";
        var reportId = "@ViewBag.ItemId.Split('/')[0]";
        var reportPath = "@ViewBag.ItemId";
        var sameOrigin = true;
        var isSubmit = true;
        var canHideSaveViewBtn = false;
        var embedConfig = @Json.Serialize(embedConfig);
        var reportItemDetail = @Json.Serialize(itemDetail);
        var isAdmin = "@isAdmin";
        var ItemType = "@ViewBag.ItemType";
        var customFontsName = [];
        var isSelfHosted = @Json.Serialize(ServerAppConfig.IsSelfHosted);
        var token = "@ViewBag.AccessToken";
        var isPublic = "@ViewBag.IsPublic";
        var xServerToken = "@ViewBag.XServerToken";
        var isViewerV2Enabled = @Json.Serialize(ViewBag.IsViewerV2Enabled);
        var canCreateComments = @Json.Serialize(canCreateComments);
        var enableViews = @Json.Serialize(enableViews);
        var isUserAuthenticatedInCurrentTenant = @Json.Serialize(isUserAuthenticatedInCurrentTenant);
        var isMobile = @Json.Serialize(isMobile);
        var canCheckSession = @Json.Serialize(canShowSession);
        var isHideIconBasedOnDnsName = @Json.Serialize(isHideIconBasedOnDnsName);
        var isCommonCacheEnabled = @Json.Serialize(ViewBag.IsCommonCacheEnabled);
        var commonCacheExpirationTime = @Json.Serialize(ViewBag.CommonCacheExpirationTime);        
        var dateFormat = "";
        var timeFormat = "";
        var timeZone = "";

        if (isCommonCacheEnabled){
            dateFormat = "@globalAppSettings.SystemSettings.DateFormat";
            timeFormat = @Json.Serialize(globalAppSettings.SystemSettings.TimeFormat) ? "HH:mm" : "hh:mm tt";
            timeZone = "@globalAppSettings.SystemSettings.TimeZone";
        }

        function decodeHtmlAsString(encodeString) {
            var textareaElement = document.createElement("textarea");
            textareaElement.innerHTML = encodeString;
            return textareaElement.value;
        }

        document.addEventListener("DOMContentLoaded", function () {
            var faviconLinkElement = document.getElementById("favicon-link");
            var fallbackFaviconPath = '@faviconFallbackPath';
            var faviconValidationImageObj = new Image();
            faviconValidationImageObj.src = faviconLinkElement.href;

            faviconValidationImageObj.addEventListener("error", function () {
                faviconLinkElement.href = fallbackFaviconPath;
            });
        });
    </script>

    <title>@ViewBag.ItemName - [[[View Report]]] - @globalAppSettings.SystemSettings.OrganizationName</title>
    <link rel="icon" href="@Url.Content(globalAppSettings.SystemSettings.FavIcon)" id="favicon-link" />
    @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")
</head>
<body>
    @if (!isHideReportViewerHeader)
    {
        <div id="report_viewer_v2_header">
            @if (ViewBag.ShowMyReports && !ViewBag.IsUrlHasView)
            {
                <div id="report_viewer_v2_backarrow_div">
                    <span class="su-arrow-back" id="report_viewer_v2_backarrow" title="[[[Back to All Reports]]]"></span>
                </div>
            }
            <div class="report_viewer_v2_report_name_div" id="report_viewer_v2_report_name_div">
                <span id="report_viewer_v2_report_name" title="@ViewBag.ItemName">@ViewBag.ItemName</span>
            </div>
            @if(canEdit){
                <div id="report_viewer_v2_toolbar">
                    <span class="su-edit-tailwind" id="report_viewer_v2_edit"></span>
                </div>
            }
            @if (isCommonCacheEnabled){
                <div class="report_viewer_v2_cache_options_div" id="report_viewer_v2_cache_refresh_icon_div">
                    <span class="su-cache-refresh" id="report_viewer_v2_cache_refresh"></span>
                </div>
                <div class="report_viewer_v2_cache_options_div" id="report_viewer_v2_cache_reresh_time_div">
                    <span id="report_viewer_v2_show_time"></span>
                </div>
            }
        </div>
    }

    <input id="comment_Type" type="hidden" data-item-id="@ViewBag.DataItemId" data-item-type="@ViewBag.ItemType">
    <input id="dashboard_Comment" type="hidden" data-item-id="@ViewBag.ItemId" data-category-name="@categoryName" data-item-name="@itemName">
    <input type="hidden" id="report-filter-query-name" />
    <input type="hidden" id="report-filter-query-value" />

    <div id="sync_report_viewer"></div>

    <div id="commentImage_popup" class="col-md-12 no-padding hidden custom-bootstrap-styles" style="display: none;">
        <div class="col-lg-12 no-padding" id="PopupContainer">
            <div class="col-md-12">
                <div class="col-xs-12 no-padding" style="float:right">
                    <a href="#" id="comment_image_dialog_close_link" class="PopupClose closePopupImage"><span class="su su-close"></span></a>
                </div>
            </div>
            <div class="dialogBody col-xs-12 no-padding">
                <img id="commentImage_popup_image" src="" style="width: 100%;">
            </div>
        </div>
    </div>

    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/theme/light.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/report-viewer-utilities.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/report-viewer-utilities.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/report-viewer-v2.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/report-viewer-v2.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/extensions/signature.reportitem.css" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/extensions/signature.dialog.css" />
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/report-viewer-ej-dependencies.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/report-viewer-ej-dependencies.js")" crossorigin="anonymous"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/report-viewer-v2.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/report-viewer-v2.js")" crossorigin="anonymous"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/signature.reportitem.js"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/signature.dialog.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/theme/light.min.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/report-viewer-utilities.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/report-viewer-utilities.min.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/report-viewer-v2.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/report-viewer-v2.min.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/extensions/signature.reportitem.css" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/extensions/signature.dialog.css" />
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/report-viewer-ej-dependencies.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/report-viewer-ej-dependencies.min.js")" crossorigin="anonymous"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/report-viewer-v2.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/report-viewer-v2.min.js")" crossorigin="anonymous"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/signature.reportitem.js"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/signature.dialog.js"></script>
    </environment>
    <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
    @if (ServerAppConfig.IsSelfHosted)
    {
        <script nonce="@Context.Items["ScriptNonce"]" src="@reportServerResourceUrl/cdn/scripts/localization/v2.0/l10n/ej.localetexts.@string.Concat(language,".min.js")"></script>
    }
    
    <div id="success-alert" class="custom-bootstrap-styles">
        <div id="image-container">
            <div class="image-holder">
                <span class="su su-tick" alt="Success Icon"></span>
            </div>
        </div>
        <div id="message">
            <h1 id="message-header"></h1>
            <span id="message-content"></span>
        </div>
    </div>
    <div id="warning-alert" class="custom-bootstrap-styles">
        <div id="image-container">
            <span class="su su-warning-alt" alt="Warning Icon"></span>
        </div>
        <div id="message" class="div-close">
            <h1 id="message-header"></h1>
            <span id="message-content"></span>
        </div>
        <div class="close-div">
            <span id="close-content">[[[Close]]]</span>
        </div>
    </div>

    <div id="delete-div" style="display: none" class="col-lg-12 no-padding">
        <div id="PopupContainerDelete">
            <div class="col-md-12 header-menu header-pad-top header-menu-margin">
                <div class="col-xs-6 no-padding">
                    <span class="su su-delete Head-icon"></span>
                    <span class="PopupTitle">[[[Delete View]]]</span>
                    <a href="#" id="delete-item-dialog-close-link" title="[[[Close]]]" class="PopupClose"><span class="su su-close"></span></a>
                </div>
            </div>
            <div class="dialogBody col-xs-12 no-padding delete-dialog-body">
                <div>
                    <div class="deleteItem">
                        <span id="delete-content"><span>[[[Are you sure you want to delete the view ]]] — </span><span id="delete_item_name" class="delete-item-body highlight-name delete_item_name"></span> ?</span>
                        <span style="width: 354px; float: left" class="message-content text-center" id="delete-confirmation">[[[View has been deleted successfully]]]</span>
                        <span style="width: 320px; float: left" class="message-content text-center" id="delete-error">[[[Try again later]]]</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 dialogFooter no-right-padding no-left-padding">
                <div class="col-xs-4"></div>
                <div class="col-xs-8 no-padding rightAlign validationArea">
                    <input type="button" class="critical-action-button app-btn-danger rightAlign" value="[[[Yes]]]" id="delete_item" tabindex="1" />
                    <input type="button" id="CancelDelete" class="secondary-button app-btn-secondary rightAlign" value="[[[No]]]" tabindex="2" />
                </div>
                <div class="col-xs-8 no-padding centerAlign successArea" style="display: none">
                    <input title="" type="button" id="ok-button" class="secondary-button app-btn-secondary PopupClose pull-center" value="[[[OK]]]" tabindex="3" />
                </div>
            </div>
        </div>
    </div>

    <iframe id="sharePermissionPopup_iframe" class="" style="display:none;"></iframe>

    <div id="messageBox">
        <div class="message-header"></div>
        <div class="message-box-close"></div>
        <div class="message-content text-center"></div>
        <div class="message-box-btn-holder"></div>
    </div>

    @if (isMobile)
    {
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/report-viewer-mobile-v2.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/report-viewer-mobile-v2.css")" crossorigin="anonymous" />
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/report-viewer-mobile-v2.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/report-viewer-mobile-v2.js")" crossorigin="anonymous"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/report-viewer-mobile-v2.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/report-viewer-mobile-v2.min.css")" crossorigin="anonymous" />
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/report-viewer-mobile-v2.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/report-viewer-mobile-v2.min.js")" crossorigin="anonymous"></script>
        </environment>
    }

    <script nonce="@Context.Items["ScriptNonce"]">
        function loadCustomFonts() {
            @if (ServerAppConfig.CustomFont != null && ServerAppConfig.CustomFont.Count > 0)
            {
                foreach (var font in ServerAppConfig.CustomFont)
                {
                    @:customFontsName.push("@font.Key");
                    @:addCustomFonts("@font.Key", "@font.Value");
                }
            }
        }

        if (!isSelfHosted) {
            document.addEventListener("DOMContentLoaded", function (event) {
                $.ajax({
                    type: "Get",
                    url: "/robots.txt",
                });
            })
        }
    </script>
</body>
</html>