@using Syncfusion.Server.Base.Helpers

@{
    var globalAppSettings = _globalAppSettings;

    ViewBag.Title = globalAppSettings.SystemSettings.OrganizationName + " - [[[Support Settings]]]";
    ViewBag.MessageBox = false;
    var isConciergeSupportHasAccess = Convert.ToBoolean(ViewBag.IsConciergeSupportHasAccess);
    ViewBag.HelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.ConciergeSupport);
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}


@section MainSection{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/concierge-support.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/concierge-support.css")" crossorigin="anonymous" />
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/concierge-support.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/concierge-support.js")" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/concierge-support.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/concierge-support.min.css")" crossorigin="anonymous" />
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/concierge-support.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/concierge-support.min.js")" crossorigin="anonymous"></script>
    </environment>

    @await Html.PartialAsync("../Administration/_AdminMenu")

    <div id="concierge-settings-container" class="col-12 admin-page-container">
        <div id="concierge-settings-header" class="col-12 admin-page-header">
            <hgroup>
                <h1 class="h2 page-title">
                    [[[Support Settings]]]
                </h1>
                <h5 class="page-description">
                    [[[Manage support team’s access to your resources.]]]
                </h5>
            </hgroup>
        </div>
        <div id="concierge-settings-body" class="admin-page-body">
            <div class="row input-field-wrapper">
                <div class="col-10 field-container-dashboard bottom-width d-flex align-items-end">
                    <label class="col-md-4 app-textbox-label activation cls-margin-top">
                        [[[Allow support team to access my account.]]]
                    </label>
                    <div class="col-md-6">
                        <div class="d-flex flex-column align-items-start">
                            <strong class="mb-2 notification-header" style="margin-left: 10px;">Allow</strong>
                            <div class="d-flex align-items-center switch-align no-padding">
                                    <span class="material-switch float-end">
                                        <input type="checkbox" id="concierge-support-access" @(isConciergeSupportHasAccess ? "checked" : string.Empty) />
                                        <label for="concierge-support-access" class="label-primary"></label>
                                    </span>
                                    @*<div class="tool-tip col-1 no-padding">
                                    <span class="dropdown-toggle" data-bs-toggle="dropdown"><span class="su su-info" title=""></span></span>
                                    <div class="dropdown-menu" role="menu">[[[Please check our ]]] <a class="app-hyperlink" href="http://files2.syncfusion.com/syncfusionio/support/sla/syncfusion-concierge-service-agreement_v1.pdf" target="_blank">[[[license agreement]]] </a> [[[ for this access.]]]</div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-page-actions col-12 col-md-12">
            <a href="@Url.Action("reports", "reports")" class="secondary-button app-btn-secondary float-end" id="cancel-concierge-settings" title="">[[[Cancel]]]</a>
            <input type="button" title="" data-url="@Url.Action("UpdateConciergeUserAccess", "Support")" id="update-concierge-settings" class="primary-button app-btn-primary float-end" value="[[[Save]]]" />
        </div>
    </div>
    <environment include="Development,CloudDevelopment">
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
}