@using System.Globalization;
﻿@using System.Runtime.InteropServices;
@using Syncfusion.Server.Base.Helpers

@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var CreateAccess = ViewData["CreateAccess"] != null ? Convert.ToBoolean(ViewData["CreateAccess"]) : false;
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var isWindowsPlatform = RuntimeInformation.IsOSPlatform(OSPlatform.Windows);
#if (BoldReportsCloud)
    var designerServiceUrl = globalAppSettings.SystemSettings.ReportServiceEndPoint.TrimEnd('/');
#else
    var designerServiceUrl = ServerAppConfig.InternalAppDataServiceUrl.TrimEnd('/');
#endif
    var reportServerApiUrl = new ReportServerApiEndPoints(globalAppSettings).ReportServerApiUrl();
    var reportServiceUrl = designerServiceUrl + "/api/Designer";
    var reportServiceCdnLink = globalAppSettings.SystemSettings.ReportServiceCdnLink.TrimEnd('/');
    var cdnDomain = GlobalAppSettings.CdnDomain;
    var isDesignerV2Enabled = ViewBag.IsDesignerV2Enabled;
    var language = CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    @if (ServerAppConfig.IsSelfHosted)
    {
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/theme/light.css")" crossorigin="anonymous" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/v2.0/tailwind-light/bold.report-designer.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource-dependent.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/update-datasource-dependent.css")" crossorigin="anonymous" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/theme/light.min.css")" crossorigin="anonymous" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/v2.0/tailwind-light/bold.report-designer.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource-dependent.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/update-datasource-dependent.min.css")" crossorigin="anonymous" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        </environment>
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/update-datasource.css")" crossorigin="anonymous" />
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource-dependent.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/update-datasource-dependent.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/crypto-js.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/crypto-js.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportviewer.min.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportdesigner.min.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/widget-angular.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/update-datasource.min.css")" crossorigin="anonymous" />
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource-dependent.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/update-datasource-dependent.min.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/crypto-js.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/crypto-js.min.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportviewer.min.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportdesigner.min.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/widget-angular.min.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        </environment>
        <script nonce="@Context.Items["ScriptNonce"]" src="@reportServerResourceUrl/cdn/scripts/localization/v2.0/reportdesigner/ej.localetexts.@string.Concat(language, ".min.js")"></script>
    }
    else
    {
        <link rel="stylesheet" asp-append-version="true" href="@reportServiceCdnLink/cdn/css/essentialjs/v2.0/tailwind-light/bold.report-designer.min.css" />
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/theme/light.css")" crossorigin="anonymous" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource-dependent.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/update-datasource-dependent.css")" crossorigin="anonymous" />
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/theme/light.min.css")" crossorigin="anonymous" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource-dependent.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/update-datasource-dependent.min.css")" crossorigin="anonymous" />
        </environment>
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/update-datasource.css")" crossorigin="anonymous" />
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/update-datasource.min.css")" crossorigin="anonymous" />
        </environment>
        <script nonce="@Context.Items["ScriptNonce"]" type='text/javascript' src='@reportServiceCdnLink/extensions/extension.config.js'></script>
        <environment include="Development,CloudDevelopment">
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource-dependent.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/update-datasource-dependent.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/crypto-js.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/crypto-js.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportviewer.min.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportdesigner.min.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/widget-angular.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource-dependent.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/update-datasource-dependent.min.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/crypto-js.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/crypto-js.min.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportviewer.min.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportdesigner.min.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/widget-angular.min.js")" crossorigin="anonymous"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
            <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
        </environment>
        <script nonce="@Context.Items["ScriptNonce"]" src="@reportServerResourceUrl/cdn/scripts/localization/v2.0/reportdesigner/ej.localetexts.@string.Concat(language, ".min.js")"></script>
    }
    <script nonce="@Context.Items["ScriptNonce"]">
        let conString = JSON.parse(@Json.Serialize(ViewBag.conString));
        let dataSourceDetail = JSON.parse(@Json.Serialize(ViewBag.dataSourceDetail));
		var isAzureApplication = @Json.Serialize(@ViewBag.isAzureApplication);
        var isWindows = @Json.Serialize(@isWindowsPlatform);
        var isSelfHosted = @Json.Serialize(ServerAppConfig.IsSelfHosted);
        var designerToken = "@ViewBag.AccessToken";
        var ivCode = "@ViewBag.IvCode";
        var keyCode = "@ViewBag.KeyCode";
        var encryptionKey = "@ViewBag.EncryptionKey";
        var connectionList = null;
        var availableDSList = [];
        var designerInstance;
        var serverURL = "@reportServerApiUrl";
        var serviceURL = "@designerServiceUrl" + "/api/Designer";
        var getDataConnectors = "@designerServiceUrl" + "/api/v1.0/configuration/GetDataConnectors/";
        var custombrandName = "@ServerAppConfig.CustomBrandName";
        var customDomain = @Json.Serialize(@ServerAppConfig.AllowCustomHelpLink) ? "@ServerAppConfig.AppSettings.Documentation.BaseUri" : "https://help.boldreports.com";
        var isHideHelpLink = @Json.Serialize(ServerAppConfig.IsHideHelpLink);
    </script>
</head>
<body ng-app="updateDataSourceApp">
    <div id="updateDesigner" style="display:none !important"></div>
    <div class="ud-container" ng-controller="updateDataSourceCtrl">
        @{ await Html.RenderPartialAsync("~/Views/DataSources/UpdateDataSource/_Header.cshtml"); }
        <div class="ud-connector" ng-if="selectedDataConnector">
            @{ await Html.RenderPartialAsync("~/Views/DataSources/UpdateDataSource/_Connector.cshtml"); }
        </div>
        <div class="dc-toast"></div>
    </div>
</body>
<environment include="Development,CloudDevelopment">
    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/update-datasource.js")" crossorigin="anonymous"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/update-datasource.min.js")" crossorigin="anonymous"></script>
</environment>
</html>