@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var CreateAccess = ViewData["CreateAccess"] != null ? Convert.ToBoolean(ViewData["CreateAccess"]) : false;
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @if (ServerAppConfig.IsSelfHosted)
    {
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.css" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/reportdesigner/bootstrap-theme/bold.reportdesigner.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource-dependent.css" />
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/reportdesigner/bootstrap-theme/bold.reportdesigner.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource-dependent.min.css" />
        </environment>
        <link href="@reportServerResourceUrl/cdn/css/essentialjs/ej2-base.css" rel="stylesheet" />
        <link href="@reportServerResourceUrl/cdn/css/essentialjs/ej2-notifications.css" rel="stylesheet" />
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource.css" />
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource-dependent.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportviewer.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportdesigner.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/barcode.reportitem.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/qrbarcode.reportitem.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/ssas.data.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource.min.css" />
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource-dependent.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportviewer.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportdesigner.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/barcode.reportitem.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/qrbarcode.reportitem.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/ssas.data.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
        </environment>
        <script type="text/javascript" src="@reportServerResourceUrl/cdn/scripts/essentialjs/common/ej2-base.min.js"></script>
        <script type="text/javascript" src="@reportServerResourceUrl/cdn/scripts/essentialjs/ej2-popups.min.js"></script>
        <script type="text/javascript" src="@reportServerResourceUrl/cdn/scripts/essentialjs/ej2-notifications.min.js"></script>
    }
    else
    {
        @*<link href="@ServerAppConfig.ReportServiceCdnLink/css/essentialjs/reportdesigner/bootstrap-theme/bold.reportdesigner.min.css" rel="stylesheet" />*@
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource-dependent.css" />
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/create-datasource-dependent.min.css" />
        </environment>
        @*<link href="@ServerAppConfig.StaticCdnLink/css/essentialjs/ej2-base.css" rel="stylesheet" />
            <link href="@ServerAppConfig.StaticCdnLink/css/essentialjs/ej2-notifications.css" rel="stylesheet" />*@
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource.css" />
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/update-datasource.min.css" />
        </environment>
        @*<script type='text/javascript' src='@ServerAppConfig.ReportServiceCdnLink/extensions/extension.config.js'></script>
            <script type='text/javascript' src='@ServerAppConfig.ReportServiceCdnLink/extensions/ssas.data.js'></script>*@
        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource-dependent.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportviewer.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportdesigner.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/barcode.reportitem.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/qrbarcode.reportitem.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/ssas.data.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource-dependent.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportviewer.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportdesigner.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/barcode.reportitem.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/qrbarcode.reportitem.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/ssas.data.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
        </environment>
        @*<script type="text/javascript" src="@ServerAppConfig.ReportServiceCdnLink/scripts/essentialjs/common/ej2-base.min.js"></script>
            <script type="text/javascript" src="@ServerAppConfig.StaticCdnLink/scripts/essentialjs/ej2-popups.min.js"></script>
            <script type="text/javascript" src="@ServerAppConfig.StaticCdnLink/scripts/essentialjs/ej2-notifications.min.js"></script>*@
    }
<script>
        var dataConnectorPath = @Json.Serialize(ServerAppConfig.IsSelfHosted) ? "@reportServerResourceUrl" + "/cdn/scripts/datasource/dataconnectors.json" : "https://cdn.boldreports.com/static/essentialjs/scripts/datasources/dataconnectors.json";
        let conString = JSON.parse(@Html.Raw(Json.Serialize(ViewBag.conString)));
        let dataSourceDetail = JSON.parse(@Html.Raw(Json.Serialize(ViewBag.dataSourceDetail)));
</script>
</head>
<body ng-app="updateDataSourceApp">
    <div class="ud-container" ng-controller="updateDataSourceCtrl">
        @{ Html.RenderPartial("~/Views/DataSources/UpdateDataSource/_Header.cshtml"); }
        <div class="ud-connector" ng-if="selectedDataConnector">
            @{ Html.RenderPartial("~/Views/DataSources/UpdateDataSource/_Connector.cshtml"); }
        </div>
        <div class="dc-toast"></div>
    </div>
</body>
<environment include="Development,CloudDevelopment">
    <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource.js"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/update-datasource.min.js"></script>
</environment>
</html>