@model List<ItemDetail>
<!DOCTYPE html>
@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
<html class="report-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>
        [[[Select Data Source]]]
    </title>
    <script>
        var createdatasourceUrl = "@Url.Action("createdatasource", "datasources")";
        var testdatasourceconnectionUrl = "@Url.Action("testdatasourceconnection", "datasources")";

        function load() {
            $('[data-toggle="tooltip"]').tooltip();
            if (($(parent.window).width()) > 1400) {
                $(".dialog").addClass("iframe");
            }

            if (($(parent.window).width()) < 1400) {
                $(".dialog").removeClass("iframe");
            }
        }
    </script>
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.css" />
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/select-datasource.css" />
        <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/select-datasource.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.min.css" />
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/select-datasource.min.css" />
        <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/select-datasource.min.js"></script>
    </environment>
</head>
<body style="background-color:white" onload="load();">
    <div id="PopupContainer" class="col-lg-12 no-padding dialog">
        <div class="col-xs-12 dialog-header">
            <span class="su su-datasource Head-icon"></span>
            <span class="PopupTitle">[[[Select Data Source]]]</span>
            <a href="javascript:void(0);" title="[[[Close]]]" data-toggle="tooltip" data-placement="bottom" class="PopupClose" onclick="closeNewDataSourcePopup()"><span class="su su-close"></span></a>
        </div>
        <div id="datasource_popup_module" class="dialog-body col-xs-12 no-padding">

            <div class='col-md-12 no-padding no-top-margin' id='new_datasourcerdl_tab_content'>
                <div class='new-datasource-popup-btns datasource-btns'>
                    <div id="datasource_validation" style="color: #A94442; display: none; height: 0;"></div>
                    <div class='create-datasource-btns pull-right'>
                        <input type='button' value='[[[Select]]]' id='publish_datasource' onclick="onSubmitDataSource()" class='btn primary-button app-btn-primary right-margin10' data-mapid="@ViewData["sourceName"]" tabindex="15">
                        <input type='button' value='[[[Cancel]]]' class='btn secondary-button app-btn-secondary NoStyleCloseClick' onclick="closeNewDataSourcePopup()" tabindex="16">
                    </div>
                </div>
            </div>
            @if (Convert.ToBoolean(ViewData["createPermission"]) == true)
            {
                <div class='col-md-12 share-popup-header no-top-margin'>
                    <div id="datasource_tabs" class="col-md-12">
                        <span class="datasource-tab-active heading" id="avl_datasource_tab" onclick="onAvailableDataSourceTabSelect()">[[[Available]]]</span>                      
                        <div id="rdl_new_tab_arrow" class="downArrow"></div>
                    </div>
                </div>
            }
            <div id='datasource_header_line' class='horizontal-splitline'></div>
            <div id='avl_datasource_tab_content' class='col-md-12 no-top-margin rdl-datasource-tab-contents'>
                <div class='col-md-12 no-top-margin new-datasource-content-holder'>
                    <div id='available_datasource_table_header' class='col-md-12'>
                        <div class='col-md-10 no-padding no-margin heading'>[[[Data Source]]]</div>
                        <div class='col-md-2 no-padding no-margin heading'>[[[Created By]]]</div>
                    </div>
                    <div class='col-md-12 no-padding no-margin' id='available_datasource_table_holder'>
                        <table id='available_datasource_table'>
                            @for (var dataSource = 0; dataSource < Model.Count; dataSource++)
                            {
                                if (@ViewData["selectedDataSource"]!=null && @ViewData["selectedDataSource"].ToString() == @Model[dataSource].Id.ToString())
                                {
                                    <tr class="available-datasource-select" data-sourceid="@Model[dataSource].Id"><td><span>@Model[dataSource].Name</span></td><td>@Model[dataSource].CreatedByDisplayName</td></tr>
                                }
                                else
                                {
                                    <tr data-sourceid="@Model[dataSource].Id"><td><span>@Model[dataSource].Name</span></td><td>@Model[dataSource].CreatedByDisplayName</td></tr>
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class='horizontal-splitline no-top-margin'></div>
            </div>            
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        parent.$("#select_datasource_popup_wrapper").ejWaitingPopup("hide");
    });
</script>