@model string
﻿@{
    var isAzureApplication = ServerAppConfig.IsAzureApplication;
    var globalAppSettings = _globalAppSettings;
    var defaultPath = ViewBag.Path;
    var isDisableSchedule = ViewBag.DisableSchedule != null ? ViewBag.DisableSchedule : false;
}
<script nonce="@Model" type="text/javascript">
    var exportPathExist = "@Url.Action("CheckExportPathExist", "Administration")";
    var UpdateScheduleExportFileSetting = "@Url.Action("UpdateScheduleSettings", "Administration")";
    initializeFileSetting(1);
    function EnablePasswordCondition() {
        EnablePasswordConditionSection();
        $("#password-condition-container").show();
        $("#default-password-info").hide();
    };
    function DisablePasswordCondition() {
        DisablePasswordConditionSection();
        $("#password-condition-container").hide();
        $("#default-password-info").show();
    };

    $(document)
        .ready(function () {
            $("#default-password, #custom-password").prop("enabled", "enabled");
            $("#enable-password-protection").prop("enabled", "enabled");

            $(document).on("click", "#default-password", DisablePasswordCondition);

            $(document).on("click", "#custom-password", EnablePasswordCondition);
        });
</script>

<form id="look-and-feel-form" class="col-md-12 form-horizontal no-padding" autocomplete="off">
    <div id="disable-site-schedule-settings-body" class="branding-sub-section admin-page-body">
        <h3 class="title col-12  sub-section-heading blur-whitelable-content">[[[Schedule Control]]]</h3>
        <div class="col-sm-12 col-12">
            <div class="col-sm-4 col-4">
                <label class="col-6 app-textbox-label">
                    [[[Disable Process Schedule]]]
                </label>
                <div class="d-flex align-items-center gap-2">
                    <span class="material-switch">
                        <input type="checkbox" id="disable-schedule"  @(isDisableSchedule ? "checked" : string.Empty) />
                        <label for="disable-schedule" class="label-primary"></label>
                    </span>
                    <div class="dropdown no-caret">
                        <span class="dropdown-toggle text-muted" data-bs-toggle="dropdown" style="cursor:pointer;"><span class="su su-info" title=""></span></span>
                        <div class="dropdown-menu" role="menu">[[[If disabled, this will stop all scheduled tasks from running for this site.]]]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="schedule-settings-body" class="general-sub-section admin-page-body schedule-password-body">
        <h3 class="title col-12  sub-section-heading">[[[Mail attachment]]]</h3>
        @*<div id="schedule-settings-body" class="admin-page-body schedule-password-body">*@
        <div class="col-lg-12 col-md-12 col-sm-12 mb-3 check-box-label form-group">
            <input type="checkbox" id="enable-compression"/>
            <label class="app-checkbox-label normal-font notransition" for="enable-compression">[[[Enable File Compression]]]</label>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mb-3 no-padding form-group">
            @Html.Label("enable-password-protection-label", "[[[Enable Password Protection]]]", new { @class = "col-lg-4 col-md-4 col-sm-4 app-textbox-label no-margin notransition" })
            <div class="col-lg-8 col-md-8 col-sm-8 no-margin form-input-field float-end switch-align">
                <span class="material-switch text-left">
                    <input type="checkbox" id="enable-password-protection" name="isPasswordProtected"/>
                    <label for="enable-password-protection" class="label-primary cls-margin-top"></label>
                </span>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mb-3 no-padding form-group">
            @Html.Label("password-type-label", "[[[Password Type]]]", new { @class = "col-lg-4 col-md-4 col-sm-4  app-textbox-label no-margin password-label-align" })
            <div class="row col-lg-8 col-md-8 col-sm-8 no-margin form-input-field float-end">
                <div class=" col-lg-4 col-md-4 col-sm-4 no-margin no-padding">
                    @Html.RadioButton("password-type", "", new { @class = "css-radio", @checked = "checked", id = "default-password" })
                    @Html.Label("default-password", "[[[Default Password]]]", new { @class = "app-radio-label normal-font cls-margin-top8 notransition" })
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 no-margin no-padding">
                    @Html.RadioButton("password-type", false, new { @class = "css-radio", id = "custom-password" })
                    @Html.Label("custom-password", "[[[Custom Password]]]", new { @class = "app-radio-label normal-font cls-margin-top8 notransition" })
                </div>
                <div class="bg-info col-lg-8 col-md-8 col-sm-8" id="default-password-info">
                    [[[Default password creation uses the first and last four characters of your email address.]]]
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mb-3" id="password-condition-container" style="display: none">
            @Html.Label("password-condition-label", "[[[Password Condition]]]", new { @class = "col-lg-4 col-md-4 col-sm-4 app-textbox-label no-margin notransition passwordcondition-label-align mb-3" })
            <div class="col-lg-8 col-md-8 col-sm-8 no-margin form-input-field float-end" id="password-condition-section">
                <div class="password-condition-section col-lg-12 col-md-12 col-sm-12 cls-margin-bot d-flex align-items-start gap-3">
                    <div class="i-search-fields">
                        <select data-width="50px" class="select-picker no-padding field-key-position" id="field-key-position" disabled data-size="2"></select>
                    </div>
                    <div style="width: 110px;">
                        @Html.TextBox("field-key-count", "", new { @class = "form-control field-key-count numeric-text-box", disabled = "disabled" })
                    </div>
                    <label class="app-textbox-label no-margin notransition mb-0">character of</label>
                    <div class="i-search-fields">
                        <select class="select-picker field-key no-padding" id="field-key" disabled data-size="4"></select>
                    </div>
                    <span class="su-add pwd-condition-btn app-textbox-label no-margin no-padding" data-bs-toggle="tooltip" data-bs-placement="right" title="Add New Condition"> </span>
                </div>
            </div>
        </div>
    </div>
    @if (ServerAppConfig.IsSelfHosted && !isAzureApplication)
    {
        <div class="branding-sub-section admin-page-body">
            <h3 class="title col-12  sub-section-heading blur-whitelable-content">[[[Save as file]]]</h3>
            <div class="mail-attachment col-sm-12 col-12 no-padding no-margin">
                <div class="col-sm-12 col-12 save-as-file-types" style="display:block !important">
                    <div class="row col-sm-12 col-12">
                        <div class="col-lg-4 col-md-4 col-sm-4  app-textbox-label no-margin password-label-align no-padding label-align-center"><label class="path-label" style="font-weight:normal">[[[Export path]]]</label></div>
                        <div class="col-sm-4 col-4">
                            <input type="text" class="form-control" id="export-directory-path" value="@globalAppSettings.SystemSettings.DirectoryPath" dataType="string">
                            <div class="col-sm-3 col-3 no-padding label-align-center directory-check" style="display: none;"></div>
                        </div>
                        <div class="export-info export-tag col-sm-4 col-4 float-end no-caret">
                            <span class="dropdown-toggle cursor-type" id="export-path-info" data-bs-toggle="dropdown"><span class="su su-info" title=""></span></span>
                            <div class="col-2 dropdown-menu" id="exportpath-help-message" role="menu">
                                [[[You have to provide root directory path for saving the scheduled report on server location. This will be a default root directory path ]]] @defaultPath [[[for saving the schedule report on server folder. You can also store it in any other local server folder.]]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="branding-sub-section admin-page-body">
        <h3 class="title col-12 sub-section-heading blur-whitelable-content">[[[FTP / SFTP Settings]]]</h3>
        <div id="location-export-options" class="col-sm-8 col-8 no-margin">
            <div id="enable-checkbox">
                <input type="checkbox" id="location-export"/>
                <label class="app-checkbox-label normal-font notransition" for="location-export">[[[FTP / SFTP Location Export]]]</label>
            </div>
            <div class="col-sm-12 col-12 no-padding" id="ftp-form">
                <div class="col-sm-12 col-12 no-padding ftp-form-container">
                    <div class="col-sm-4 col-4">
                        <label class="path-label" style="float:left">[[[Host]]]</label>
                        <div class="tool-tip col-1" style="padding-left:1.2%;top:1px">
                            <span class="dropdown-bs-toggle" data-bs-toggle="dropdown"><span class="su su-info" title=""></span></span>
                            <div class="dropdown-menu" role="menu" style="padding:5px; width: 420px !important;">[[[If using a custom FTP/SFTP port, include it in the host like this: ftp://domain:123 or sftp://domain:123.]]]</div>
                        </div>
                        <input type="text" class="form-control ftp-host-name" id="ftp-settings-host-name" placeholder="Host" name="host-name" autocomplete="off" disabled="disabled"/>
                        <div id="hostname-validation" style="display: none"></div>
                    </div>
                    <div class="col-sm-4 col-4">
                        <label class="path-label">[[[Username]]]</label>
                        <input type="text" class="form-control ftp-user-name" id="ftp-settings-user-name" placeholder="[[[Username]]]" name="user-name" autocomplete="off" disabled="disabled"/>
                        <div id="username-validation" style="display: none"></div>
                    </div>
                    <div class="col-sm-4 col-4">
                        <label class="path-label">[[[Password]]]</label>
                        <input type="password" class="form-control password-field ftp-password" id="ftp-settings-password" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off" disabled="disabled">
                        <div class="su su-eye show-hide-password ftp-password-icon" style="position: absolute; right: 22px; top:33px; cursor:pointer"></div>
                        <div id="password-validation" style="display: none"></div>
                    </div>
                    <div id="ftp-validation-message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="branding-sub-section admin-page-body">
        <h3 class="title col-12 sub-section-heading blur-whitelable-content">[[[S3 Bucket Settings]]]</h3>
        <div id="s3-location-export-options" class="col-sm-12 col-12 no-margin">
            <div id="s3-enable-checkbox">
                <input type="checkbox" id="s3-location-export"/>
                <label class="app-checkbox-label normal-font notransition" for="s3-location-export">[[[S3 Location Export]]]</label>
            </div>

            <div id="s3bucket-form">
                <div class="row g-3 s3-form-container">
                    <div class="col-md-3">
                        <label class="path-label">[[[Access Key]]]</label>
                        <input type="password" class="form-control" id="s3-settings-access-key" placeholder="••••••••" name="AccessKey" autocomplete="off" disabled />
                        <div class="su su-eye show-hide-password ftp-password-icon" style="position: absolute; right: 22px; top: 38px; cursor: pointer"></div>
                        <div id="s3-settings-accesskey-validation" class="invalid-feedback" style="display: none"></div>
                    </div>

                    <div class="col-md-3 position-relative">
                        <label class="path-label">[[[Secret Key]]]</label>
                        <input type="password" class="form-control password-field" id="s3-settings-secretkey" name="s3-secretkey" placeholder="••••••••" autocomplete="off" disabled />
                        <div class="su su-eye show-hide-password ftp-password-icon" style="position: absolute; right: 22px; top: 38px; cursor: pointer"></div>
                        <div id="s3-settings-secretkey-validation" class="invalid-feedback" style="display: none"></div>
                    </div>

                    <div class="col-md-3">
                        <label class="path-label">[[[Bucket Name]]]</label>
                        <input type="text" class="form-control" id="s3-settings-bucket-name" placeholder="[[[Bucket Name]]]" name="s3bucket-name" autocomplete="off" disabled />
                        <div id="s3-settings-bucketname-validation" class="invalid-feedback" style="display: none"></div>
                    </div>

                    <div class="col-md-3">
                        <label class="path-label">[[[Region]]]</label>
                        <div class="dropup aws-s3-region-drop-down">
                            @if (ViewBag.AwsRegion != null)
                            {
                                @Html.DropDownList("region", ViewBag.AwsRegion as IEnumerable<SelectListItem>, new
                                    {
                                        id = "s3-settings-region",
                                        @class = "selectpicker form-control",
                                        data_none_results_text = "[[[No results match]]]",
                                        data_size = "10",
                                        data_live_search = "true",
                                        data_live_search_placeholder = "Search",
                                        disabled = "disabled"
                                    })
                            }
                        </div>
                        <div id="s3-settings-region-validation" class="invalid-feedback" style="display: none"></div>
                    </div>
                </div>
                <div id="s3-validation-message" style="display: none"></div>
            </div>
        </div>
    </div>
</form>