@using Syncfusion.Server.Base.Helpers

@{
    var isReportDesigner = ViewData["IsReportDesigner"] != null ? (bool)ViewData["IsReportDesigner"] : false;
    var globalAppSettings = _globalAppSettings;
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

<script nonce="@Context.Items["ScriptNonce"]">
    var isCategoryPopupInReportDesigner = false;
</script>

@if (isReportDesigner)
{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/add-category.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/add-category.css")" crossorigin="anonymous" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/add-category.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/add-category.min.css")" crossorigin="anonymous" />
    </environment>
    <script nonce="@Context.Items["ScriptNonce"]">
        isCategoryPopupInReportDesigner = @Json.Serialize(isReportDesigner);
    </script>
}

<div id="AddCategoryPopup" class="no-padding" style="display:none">
    <div class="dialog">
        <div class="col-md-12 dialog-header">
            <span class="su su-folder Head-icon"></span>
            <span class="PopupTitle extendedTitle" title="[[[Create Category]]]">[[[Create Category]]]</span>
            <a href="#" id="close-add-item-popup" class="PopupClose" title="[[[Close]]]"><span class="su su-close"></span></a>
        </div>
        <form id="addCategoryForm" name="addCategoryForm">
            <div id="create_category_content" class="col-md-12 dialog-body">
                <table>
                    <tbody>
                        <tr class="bottomPadding5">
                            <td class="text-right padding-right-15"><div class="bottom-margin30">[[[Category Name]]]<span class="mandatory">*</span></div></td>
                            <td>
                                <span>
                                    <input type="text" id="add_category_name" autofocus class="popup form-control bottom-margin30 text" name="categoryName" maxlength="255" tabindex="1">
                                    <span id="validate-name" class="validation-message text"></span>
                                    <div id="plugin_validation" class="validation-message text"></div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right padding-right-15"><div class="bottom-margin30">[[[Description]]]</div></td>
                            <td>
                                <textarea name="description" class="form-control bottom-margin30 text" maxlength="1024" id="category_description" tabindex="2"></textarea>
                                <span class="notification help-text">
                                    <span class="help-text-mandatory">*</span>[[[1024 characters maximum]]]
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" class="hide-content" style="display: none" />
            </div>
        </form>
        <div class="category-btns dialog-footer">
            <div class="pull-right">
                <input type="button" title="" class="app-button app-primary-button app-btn-primary" id="validate-add-item" value="[[[Add]]]" tabindex="3">
                <input type="button" title="" class="app-button app-secondary-button app-btn-secondary" id="cancel-add-item-popup" value="[[[Cancel]]]" tabindex="4">
            </div>
        </div>
    </div>
</div>
<environment include="Development,CloudDevelopment">
    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/add-category.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/add-category.js")" crossorigin="anonymous"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/add-category.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/add-category.min.js")" crossorigin="anonymous"></script>
</environment>