@using Syncfusion.Server.Base.Helpers

@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

<!DOCTYPE html>

<html class="dashboard-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/theme/light.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/iframe.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/iframe.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/addgrouppermission.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/addgrouppermission.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/iframe.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/iframe.js")" crossorigin="anonymous"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/addgrouppermission.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/addgrouppermission.js")" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/theme/light.min.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/iframe.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/iframe.min.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/addgrouppermission.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/addgrouppermission.min.css")" crossorigin="anonymous" />
        <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/iframe.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/iframe.min.js")" crossorigin="anonymous"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/addgrouppermission.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/addgrouppermission.min.js")" crossorigin="anonymous"></script>
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>

    @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")


    <script nonce="@Context.Items["ScriptNonce"]">
        var addGroupPermissionViewIframeUrl = "@Url.Action("AddGroupPermissionView", "permission")";
        var getPermissionEntityUrl = "@Url.Action("GetPermissionEntity", "permission")";
        var getItemScopeUrl = "@Url.Action("GetItemScope", "permission")";
        var getItemScopeAccessUrl = "@Url.Action("GetItemScopeAccess", "permission")";
        var addnewgrouppermissionUrl = "@Url.Action("addnewgrouppermission", "permission")";
        var deleteGroupPermissionUrl = "@Url.Action("DeleteGroupPermission", "permission")";
        $(document).ready(function () {
            parent.$("#add-permission_wrapper").ejWaitingPopup("hide");
        });
        var entityObj = JSON.parse(@Json.Serialize(ViewBag.PermissionEntity));
        var accessObj = JSON.parse(@Json.Serialize(ViewBag.PermissionAccess));
    </script>
</head>
<body class="add-permissions" id="add-group-permission">
    @await Html.PartialAsync("_AddPermission")
    <input type="hidden" id="group-id-hidden" value="@ViewBag.groupId" />
    <environment include="Development,CloudDevelopment">
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
</body>
</html>
