@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var reportServerResourceUrl = string.Empty;
    if (ServerAppConfig.IsSelfHosted)
    {
        reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    }
    else
    {
        reportServerResourceUrl = ServerAppConfig.AppSettings.EndPoints.CdnLink.TrimEnd('/');
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[[[Syncfusion Cloud Management - Access Denied]]]</title>
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/layout.css" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/error-page.css" />
        <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/layout.min.css" />
        <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/error-page.min.css" />
        <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
    </environment>
</head>
<body>
    <div id="banned-country-page" class="base-container-bg">
        <div class="base-conatiner" id="base-conatiner">
            <div id="main-div">
                <div class="app-logo">
                    <img src="@GlobalAppSettings.CdnDomain/email/images/main-logo.png" />
                </div>
                <div class="secondary-div">
                    <div class="page-title">
                        [[[Access Denied]]]
                    </div>
                    <div class="page-content">
                        @(GlobalAppSettings.Branding == AppBranding.BoldReports.Identifier ? "Bold Reports(Powered By Syncfusion)" : "Syncfusion") [[[is a United States company and is subject to US export laws. Consequently, due to your location, we may not allow access to any material on our site.
                        If you believe that this is inaccurate, please contact]]] <a href="mailto:@ServerAppConfig.AppSettings.Syncfusion.SalesTeam">@ServerAppConfig.AppSettings.Syncfusion.SalesTeam<</a> [[[Thank you.]]]
                    </div>
                    <p class="text-danger">[[[We are unable to service your request.]]]</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>