@model Syncfusion.Server.Base.DataClasses.Subscription

@{
    var globalAppSettings = new TenantHandler().GetTenantConfig();

    ViewBag.Title = "[[[Subscriptions]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    ViewBag.MessageBox = false;
    var priorityOrderId = @Model.PlanId;
    ViewBag.HelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.SubscriptionSiteSettings);
}
@section styles{
    @Styles.Render("~/bundles/styles/license-settings")
}
@section scripts{
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var cancelSubscriptionUrl = "@Url.Action("CancelSubscription", "Payment")";
        var activateSubscriptionUrl = "@Url.Action("ActivateSubscription", "Payment")";
        var getSubscriptionPlanUrl = "@Url.Action("GetSubscriptionPlan", "Administration")";
        var cancelSubscriptionFeedbackUrl = "@Url.Action("AddUserFeedback", "FeedBack")";
        var getPlansUrl = "@Url.Action("GetPlans", "Payment")";
        var updatePlanUrl = "@Url.Action("UpdatePlan", "Payment")";
    </script>
    @Scripts.Render("~/bundles/scripts/license-settings")
}

@section MainSection{
    @Html.Partial("_AdminMenu")
    @Scripts.Render("~/bundles/scripts/localizationcontent")
    <div id="license-settings-container">
        <div id="subscription-plan-dialog">
            @Html.Partial("../Administration/_SubscriptionPlan", @Model)
            @Html.Partial("../Shared/_CancelSubscriptionFeedback")
        </div>
        <div id="choose-plan-dialog">
            @Html.Partial("../Administration/_UpgradePlans", (List<SaaSPlanDetail>)ViewBag.PlansList, new ViewDataDictionary { { "PriorityOrderId", priorityOrderId } })
        </div>
    </div>
}
