@using System.Globalization;
@{
    var globalAppSettings = _globalAppSettings;
    var designerToken = ViewBag.AccessToken;
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var language = CultureInfo.CurrentCulture.Name;
}
<script nonce="@Context.Items["ScriptNonce"]">
    var saveURL = "@Url.Action("Save", "DataSources")";
</script>
<div class="cd-connector-container">

    <div class="dc-container" ng-controller="connectorCtrl">
        <div class="dc-scroller-container rs-scroller">
            <div class="dc-scroller">
            <div class="dc-header-container">
                <div class="dc-header"></div>
                <div class="dc-description-img su-help"></div>
            </div>
                <div class="dc-config-container">
                    <div class="dc-config">
                        @{
#if (BoldReportsCloud)
                            var serviceURL = globalAppSettings.SystemSettings.ReportServiceEndPoint.TrimEnd('/') + "/api/Designer";
#else
                            string serviceURL = ServerAppConfig.InternalAppDataServiceUrl.TrimEnd('/') + "/api/Designer";
#endif
                            string reportServerApiUrl = new ReportServerApiEndPoints(globalAppSettings).ReportServerApiUrl();
                            string isAzureApplication = ServerAppConfig.IsAzureApplication.ToString().ToLower();
                        }
                        <div class="data-designer-container">
                            <div id="dataDesigner" ng-style="{'display': datasetCreation ? 'none' : 'block'}" boldReportDesigner e-serviceUrl="@serviceURL" e-reportServerUrl="@reportServerApiUrl" e-isAzureApp=@isAzureApplication e-reportDataExtensions="reportDataExtensions" e-create="onDesignerCreate" e-ajaxBeforeLoad="onAjaxBeforeLoad" e-encryptData="encryptData" e-decryptData="decryptData" e-serviceAuthorizationToken="@designerToken" e-locale ="@language">
                                <div class="dataContainer e-reportdesigner-designer-configuration"></div>
                            </div>
                            <div class="dc-dataset-form-container" ng-style="{'display': !datasetCreation ? 'none' : 'block'}">
                                @{ await Html.RenderPartialAsync("~/Views/Items/_DataSetForm.cshtml"); }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("~/Views/DataSources/CreateDataSource/_Footer.cshtml"); }
</div>