@using System.Globalization;
﻿@using System.Runtime.InteropServices;
@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var CreateAccess = ViewData["CreateAccess"] != null ? Convert.ToBoolean(ViewData["CreateAccess"]) : false;

    var tenantAppConfiguration = new TenantAppConfiguration(globalAppSettings);
    var language = CultureInfo.CurrentCulture.Name;
    var isSelfHosted = ServerAppConfig.IsSelfHosted;

    var oraganisationName = globalAppSettings.SystemSettings.OrganizationName;
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var isWindowsPlatform = RuntimeInformation.IsOSPlatform(OSPlatform.Windows);
    var designerServiceUrl = ServerAppConfig.InternalAppDataServiceUrl.TrimEnd('/');
    var reportServerApiUrl = new DashboardServerApiEndPoints(globalAppSettings).BoldReportsApiUrl();
    var reportServiceUrl = designerServiceUrl + "/api/Designer";
    var reportServiceCdnLink = globalAppSettings.SystemSettings.ReportServiceCdnLink.TrimEnd('/');
    var cdnDomain = GlobalAppSettings.CdnDomain;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="@Url.Content(globalAppSettings.SystemSettings.FavIcon)" onerror="if (this.href != '~/content/images/application/favicon.png') this.href = '~/content/images/application/favicon.png';" />
    <title>Create Data Source - @globalAppSettings.SystemSettings.OrganizationName</title>
    @if (ServerAppConfig.IsSelfHosted)
    {
<environment include="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.css" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/reportdesigner/bootstrap-theme/bold.reportdesigner.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/create-datasource-dependent.css" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/create-datasource.css" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/reportdesigner/data-configuration/data-configuration.css" />
    <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
</environment>
<environment exclude="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/reportdesigner/bootstrap-theme/bold.reportdesigner.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/create-datasource-dependent.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/create-datasource.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/reportdesigner/data-configuration/data-configuration.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
</environment>
        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/create-datasource-dependent.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/create-datasource-dependent.min.js"></script>
        </environment>
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/ej2-base.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/ej2-notifications.css" />
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/ej2-base.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/ej2-notifications.css" />
        </environment>

        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportviewer.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportdesigner.min.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportviewer.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportdesigner.min.js"></script>
        </environment>
    }
    else
    {
        <link href="@reportServiceCdnLink/cdn/css/essentialjs/reportdesigner/bootstrap-theme/bold.reportdesigner.min.css" rel="stylesheet" />
        <script type='text/javascript' src='@reportServiceCdnLink/extensions/extension.config.js'></script>
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/create-datasource-dependent.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/reportdesigner/data-configuration/data-configuration.css" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/theme/light.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/create-datasource-dependent.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/reportdesigner/data-configuration/data-configuration.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, reportServerResourceUrl)" />
        </environment>
        <link href="@cdnDomain/static/essentialjs/content/ej2-base.css" rel="stylesheet" />
        <link href="@cdnDomain/static/essentialjs/content/ej2-notifications.css" rel="stylesheet" />
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/create-datasource.css" />
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/localizationcontent.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/create-datasource.min.css" />
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/localizationcontent.min.js"></script>
        </environment>

        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/create-datasource-dependent.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/create-datasource-dependent.min.js"></script>
        </environment>
        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportviewer.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportdesigner.min.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportviewer.min.js"></script>
            <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/bold.reportdesigner.min.js"></script>
        </environment>
    }
<script>
        var isAzureApplication = @Json.Serialize(@ViewBag.isAzureApplication);
        var isSelfHosted = @Json.Serialize(ServerAppConfig.IsSelfHosted);
        var datasource = "@Url.Action("DataSources", "DataSources")";
        var isWindows = @Json.Serialize(@isWindowsPlatform);
        var designerToken = "@ViewBag.AccessToken";
        var connectionList = null;
        var availableDSList = [];
        var designerInstance;
        var serverURL = "@reportServerApiUrl";
        var serviceURL = "@designerServiceUrl" + "/api/Designer";
        var getDataConnectors = "@designerServiceUrl" + "/api/v1.0/configuration/GetDataConnectors/";
        var custombrandName = "@ServerAppConfig.CustomBrandName";
        var customDomain = @Json.Serialize(@ServerAppConfig.AllowCustomHelpLink) ? "@ServerAppConfig.AppSettings.Documentation.BaseUri" : "https://help.boldreports.com";
        var isHideHelpLink = @Json.Serialize(ServerAppConfig.IsHideHelpLink);
</script>
</head>
<body class="cd" ng-app="createDataSourceApp">
    <div id="designer" style="display:none !important"></div>
    <div class="loader-blue loader-icon cd-loader" id="layout-body-loader-icon">
        <svg class="circular">
            <circle class="path" cx="27" cy="27" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
        </svg>
    </div>

    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.js"></script>
        <script asp-append-version="true" src="@reportServerResourceUrl/extensions/barcode.reportitem.js"></script>
        <script asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
        <script asp-append-version="true" src="@reportServerResourceUrl/extensions/qrbarcode.reportitem.js"></script>
        <script asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/widget-angular.min.js"></script>
        <script asp-append-version="true" src="@reportServerResourceUrl/extensions/barcode.reportitem.js"></script>
        <script asp-append-version="true" src="@reportServerResourceUrl/extensions/extension.config.js"></script>
        <script asp-append-version="true" src="@reportServerResourceUrl/extensions/qrbarcode.reportitem.js"></script>
        <script asp-append-version="true" src="@reportServerResourceUrl/extensions/custombranding.config.js"></script>
    </environment>
    <script type="text/javascript" src="@reportServerResourceUrl/cdn/scripts/essentialjs/common/ej2-base.min.js"></script>
    <script type="text/javascript" src="@reportServerResourceUrl/cdn/scripts/essentialjs/ej2-popups.min.js"></script>
    <script type="text/javascript" src="@reportServerResourceUrl/cdn/scripts/essentialjs/ej2-notifications.min.js"></script>
    <div class="cd-container" ng-controller="createDataSourceCtrl">
        @{ Html.RenderPartial("~/Views/DataSources/CreateDataSource/_Header.cshtml"); }
        <div class="cd-connector-list rs-scroller" ng-style="{'display': selectedDataConnector ? 'none' : 'block'}">
            @{ Html.RenderPartial("~/Views/DataSources/CreateDataSource/_ConnectorsList.cshtml"); }
        </div>
        <div class="cd-connector" ng-if="selectedDataConnector">
            @{ Html.RenderPartial("~/Views/DataSources/CreateDataSource/_Connector.cshtml"); }
        </div>

        <div class="dc-toast"></div>

    </div>
</body>
<environment include="Development,CloudDevelopment">
    <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/create-datasource.js"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/create-datasource.min.js"></script>
</environment>
</html>