<!DOCTYPE html>
@using Newtonsoft.Json
@using System.IO
@using Syncfusion.Server.Base.Helpers
@using System.Web;

@{
    var globalAppSettings = _globalAppSettings;
    Layout = null;
    var itemDetails = ViewBag.itemDetails;
    var token = ViewBag.AccessToken;
    var itemLocation = ViewBag.itemLocation;
    var permissionDetails = ViewBag.permissionDetails;
    var itemId = itemDetails.Id;
    var itemName = HttpUtility.HtmlDecode(itemDetails.Name);
    var description = HttpUtility.HtmlDecode(itemDetails.Description);
    var categoryName = HttpUtility.HtmlDecode(itemDetails.CategoryName);
    var categoryId = itemDetails.CategoryId;
    var isDraft = itemDetails.IsDraft;
    var CanWrite = permissionDetails != null ? permissionDetails[0].CanWrite : false;
#if (BoldReportsCloud)
    var designerServiceUrl = globalAppSettings.SystemSettings.ReportServiceEndPoint.TrimEnd('/');
#else
    var designerServiceUrl = ServerAppConfig.InternalAppDataServiceUrl.TrimEnd('/');
#endif
    var reportServiceUrl = designerServiceUrl + "/api/Designer/PostDesignerAction";
    var reportServerApiUrl = new ReportServerApiEndPoints(globalAppSettings).ReportServerApiUrl();
    var xmlContent = ViewBag.xmlContent;
    var reportServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var faviconFallbackPath = reportServerResourceUrl + "/cdn/images/application/" + ServerAppConfig.AppSettings.AppBranding.Identifier + "/" + IconFileNames.Favicon;
}
<html lang="en" style="height:100%;width:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@itemName - Edit Report As XML - @globalAppSettings.SystemSettings.OrganizationName</title>
    <link rel="icon" href="@Url.Content(globalAppSettings.SystemSettings.FavIcon)" id="favicon-link" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/report-xml-editor.min.css" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/css/report-xml-editor.min.css")" crossorigin="anonymous" />
    <link rel="stylesheet" asp-append-version="true" href="@reportServerResourceUrl/cdn/css/essentialjs/v2.0/tailwind-light/bold.report-designer.min.css" />
    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/report-xml-editor.min.js" integrity="@IntegrityTagHelper.GetIntegrity("wwwroot/cdn/scripts/report-xml-editor.min.js")" crossorigin="anonymous"></script>
    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportviewer.min.js"></script>
    <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@reportServerResourceUrl/cdn/scripts/essentialjs/v2.0/bold.reportdesigner.min.js"></script>
    <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    <script nonce="@Context.Items["ScriptNonce"]">
        document.addEventListener("DOMContentLoaded", function () {
            var faviconLinkElement = document.getElementById("favicon-link");
            var fallbackFaviconPath = '@faviconFallbackPath';           var faviconValidationImageObj = new Image();
            faviconValidationImageObj.src = faviconLinkElement.href;

            faviconValidationImageObj.addEventListener("error", function () {
                faviconLinkElement.href = fallbackFaviconPath;
            });
        });
    </script>
</head>
<body>
    <div id="toolbar"></div>
    <div id="editor-container">
        <div id="report_xml_editor"></div>
        <div id="alert_dialog"></div>
    </div>
    <div id="toast-message-container"></div>

    <script nonce="@Context.Items["ScriptNonce"]">
        createXmlSpinner();
        var reportDesignerToken;
        window.onload = function () {
            var id = "container";
            getAuthenticationToken(id);
        };
        var categoryName = decodeHtmlAsString("@categoryName");
        var reportName = decodeHtmlAsString("@itemName");
        var path = (categoryName ? categoryName + '/' : '') + reportName;
        var reportInfo = {
            reportServerUrl: "@reportServerApiUrl",
            reportPath: path
        };
        var originalXmlContent = @Html.Raw(JsonConvert.SerializeObject(xmlContent));
        var landingPageUrl = '@Url.Action("Reports", "Reports")';
        var shouldRunBeforeUnload = true;

        var editor = createXMLEditor("report_xml_editor", originalXmlContent);
        createXmlAlertDlg("alert_dialog");
        var alertDialog = document.getElementById("alert_dialog").ej2_instances[0];
        createXmlToolbar("toolbar");
        var toolbar = document.getElementById("toolbar").ej2_instances[0];
        toolbar.enableItems([0, 1], false);

        window.addEventListener("beforeunload", function (e) {
            if (shouldRunBeforeUnload) {
                var editedXmlContent = editor.getValue();
                if (!areXmlStringsEqual(originalXmlContent, editedXmlContent)) {
                    var confirmationMessage = "[[[You have made modifications. Do you want to close without publishing?]]]";
                    (e || window.event).returnValue = confirmationMessage;
                    return confirmationMessage;
                }
            }
        });

        function handlePublish() {
            var editedXmlContent = editor.getValue();
            var xmlValidation = validateXML(editedXmlContent);
            if (!xmlValidation.isValid) {
                alertDialog.header = "[[[Invalid XML]]]";
                showXmlAlertDlg(xmlValidation.err);
                return;
            }
            editor.setOption("readOnly", "nocursor");
            toolbar.disable(true);
            ejs.popups.showSpinner(document.getElementById('editor-container'));

            $.ajax({
                url: "@reportServiceUrl",
                type: 'POST',
                async: true,
                crossDomain: true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                headers: {
                    'serviceAuthorizationToken': "@token",
                    'reportDesignerToken': reportDesignerToken,
                    'ServerUrl': "@reportServerApiUrl",
                    'ReportId': "@itemId"
                },
                data: JSON.stringify({
                    designerAction: "saveServerReport",
                    reportInfo: reportInfo,
                    rdlXML: editedXmlContent,
                    reportName: "@itemName",
                    datasourceMapping: getDataSourceMap(editedXmlContent),
                    datasetMapping: getDataSetMap(editedXmlContent)
                }),
                success: function (data) {
                    if (data && typeof data === 'string' && data.indexOf('Sf_Exception') !== -1) {
                        alertDialog.header = "[[[Error: Action Required]]]";
                        showAlertDlg(data.replace('Sf_Exception - ', ''));
                    } else if (data && typeof data === 'object' && data.Data && data.Data.indexOf('Sf_Exception') !== -1) {
                        alertDialog.header = "[[[Error: Action Required]]]";
                        showAlertDlg(data.Data.replace('Sf_Exception - ', ''));
                    }
                    else {
                        originalXmlContent = editedXmlContent;
                        alertMessage(true);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alertDialog.header = "[[[Request Error]]]";
                    showXmlAlertDlg(jqXHR.responseJSON ? jqXHR.responseJSON.message : errorThrown);
                },
                complete: function () {
                    ejs.popups.hideSpinner(document.getElementById('editor-container'));
                    editor.setOption("readOnly", false);
                    toolbar.disable(false);
                }
            });
        }


        function getDataSourceMap(xmlString) {
            let mappingInfo = [];
            let xmlDoc = new DOMParser().parseFromString(xmlString, 'text/xml');
            let datasources = xmlDoc.getElementsByTagName('DataSource');
            if (datasources && datasources.length > 0) {
                for (let index = 0; index < datasources.length; index++) {
                    let dataSourceReference = datasources[index].getElementsByTagName('DataSourceReference')[0];
                    if (dataSourceReference && dataSourceReference.textContent) {
                        mappingInfo.push({
                            Name: datasources[index].getAttribute('Name'),
                            DataSourceId: dataSourceReference.textContent
                        });
                    }
                }
            }
            return mappingInfo && mappingInfo.length > 0 ? mappingInfo : null;
        }

        function getDataSetMap(xmlString) {
            let mappingInfo = [];
            let xmlDoc = new DOMParser().parseFromString(xmlString, 'text/xml');
            let dataSets = xmlDoc.getElementsByTagName('DataSet');
            if (dataSets && dataSets.length > 0) {
                for (let index = 0; index < dataSets.length; index++) {
                    let sharedDataSetReference = dataSets[index].getElementsByTagName('SharedDataSetReference')[0];
                    if (sharedDataSetReference && sharedDataSetReference.textContent) {
                        mappingInfo.push({
                            Name: dataSets[index].getAttribute('Name'),
                            DataSetId: sharedDataSetReference.textContent
                        });
                    }
                }
            }
            return mappingInfo && mappingInfo.length > 0 ? mappingInfo : null;
        }

        function alertMessage(status) {
            var toastMessage;
            var className;
            var toastTitle;
            if (status) {
                toastMessage = false ? "[[[Report has been saved successfully.]]]" : "[[[Report has been published successfully.]]]";
                className = 'e-toast-success';
                toastTitle = "[[[Success!]]]";
            } else {
                toastMessage = false ? "[[[An error occurred  while saving the report.]]]" : "[[[An error occurred while publishing the report.]]]";
                className = 'e-toast-danger';
                toastTitle = "[[[Error!]]]"
            }
            var toast = new ejs.notifications.Toast({
                title: toastTitle,
                content: toastMessage,
                target: document.body,
                cssClass: className,
                timeOut: 3000,
                position: { X: 'Right', Y: 'Top' },
                showCloseButton: true,
                newestOnTop: true,
                animation: {
                    hide: { effect: 'SlideRightOut' },
                    show: { effect: 'SlideRightIn' }
                }
            });
            toast.appendTo('#toast-message-container');
            toast.show();
        }

        function getAuthenticationToken(id) {
            var guid = ejs.data.DataUtil.getGuid();
            reportDesignerToken = id + '_' + guid;
        }

        editor.on("change", function () {
            if (editor.historySize().undo === 0) {
                toolbar.enableItems([0], false);
            } else {
                toolbar.enableItems([0], true);
            }
            if (editor.historySize().redo === 0) {
                toolbar.enableItems([1], false);
            } else {
                toolbar.enableItems([1], true);
            }
        });

    </script>
    <style>
        #editor-container {
            margin-top: 40px;
            height: calc(100vh - 40px);
        }

        #editor {
            height: 100%;
            width: 100vw;
            overflow: auto;
        }

        body {
            margin: 0;
            padding: 0;
            overflow: auto;
        }

        .CodeMirror {
            height: calc(100vh - 40px);
            width: 100vw;
        }

        #toolbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw !important;
            z-index: 9999;
            border: 1px solid #e5e5e5;
        }

        .e-icons.e-undo:before {
            content: "\e713";
        }

        .e-icons.e-redo:before {
            content: "\e755";
        }

        .e-icons.e-search:before {
            content: "\e754";
        }

        .e-icons.e-replace:before {
            content: "\e710";
        }
    </style>
</body>
</html>